* {
  margin: 0px;
  padding: 0px;
}

/* Heading start */

.header {
  padding-top: 30px;
}

.header .row {
  align-items: baseline;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.menu ul li {
  list-style-type: none;
  font-weight: 500;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.purchase-btn {
  width: 250px;
  height: 60px;
  background-color: rgb(255, 0, 68);
  text-align: center;
  transition: 0.5s;
  border-radius: 8px;
  background: transparent;
  transition: ease-in-out 0.3s;
  font-size: 1.2rem;
}

/* Header End */

/* Banner Start */

.banner {
  width: 100%;
  margin-top: 150px;
  height: 100vh;
  align-items: center;
}

.banner h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

.banner-img {
  text-align: right;
}

.banner .container p {
  font-size: 18px;
  padding-top: 10px;
  text-align: justify;
  font-weight: 500;
}

.banner i {
  color: #000;
  height: 40px;
  width: 40px;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  line-height: 40px;
  margin-top: 20px;
}

/* Banner End */

/* Gallery view Start */

.gallery-view {
  margin-left: 20px;

  width: 100%;
  .gallery-info {
    text-align: center;
  }
  h2 {
    margin-top: 5px;
    font-size: 2.5rem;
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }
}
.gallery-image {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  transition: 0.5s;
}
h3 {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.category {
  text-align: center;
  img:hover {
    box-shadow: 8px 8px 15px -2px black;
    transition: 0.5s;
  }
}

/* Gallery view End */

/* Feature Gallery Start */

.features-gallery {
  width: 100%;
  padding: 80px 0px;
  text-align: center;
  .feature-header h2 {
    font-weight: bold;
    font-size: 30px;
  }
  .feature-header p {
    font-weight: 400;
    font-size: 20px;
  }

  .row {
    display: flex;
    img {
      margin-top: 15px;
    }
    h4 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .customise {
    background-color: #f5f5f5;
    padding: 12px;
    margin: 12px;
    &:hover {
      background-color: #292640;
      transition: all 0.5s;
      color: white;
    }
    img {
      background-color: white;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

/* Feature Gallery End */

/* Footer Start */

.feature-footer {
  background-color: #292640;
  width: 100%;
  color: white;
  text-align: center;
  padding: 80px 0px 40px 0px;

  h2 {
    font-size: 3rem;
  }
  .text-button {
    all: unset;
    display: inline;
    background-color: #ff6b63;
    cursor: default;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    padding: 16px 42px;
    margin-top: 15px;
    margin-bottom: 30px;
    :hover,
    focus {
      outline: none;
      text-decoration: none;
    }
  }
}

/* Footer End */
